* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
}
main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
article {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    max-width: 350px;
}
h1, blockquote {
    color: white;
    margin: 0.5rem;
}
blockquote {
    margin-top: 1.2rem;
}
p {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
}
.links a {
    display: block;
    background-color: hsl(0, 0%, 20%);
    padding: 1rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 0.5rem;
}

.links a:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}
img {
    border-radius: 50%;
    height: 4rem;
    margin: 0.5rem;
}

@media (max-width: 740px) {
    article {
        width: 90%;
    }
}



